App/tickets.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tickets">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="ticket">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="owner" type="xs:string" />
							<xs:element name="date" type="xs:date" />
							<xs:element name="category" type="xs:string" />
							<xs:element name="price" type="xs:unsignedByte" />
						</xs:sequence>
						<xs:attribute name="id" type="xs:unsignedByte" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>