App/XMLData/spectacle.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="spectacles">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="spectacle">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="title" type="xs:string" />
							<xs:element name="author" type="xs:string" />
							<xs:element name="genre" type="xs:string" />
							<xs:element name="date" type="xs:dateTime" />
							<xs:element maxOccurs="unbounded" name="category">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:unsignedShort">
											<xs:attribute name="name" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>