App/XMLData/tickets.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tickets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ticket" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="owner" type="xs:string" />
							<xs:element name="date" type="xs:date" />
							<xs:element name="category" type="xs:string" />
							<xs:element name="price" type="xs:decimal" />
						</xs:sequence>
						<xs:attribute name="id" type="xs:int" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
